.tile {
  outline: 1px solid white;
  outline-offset: -1px;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.tile-wrapper {
  position: relative;
  margin: auto;
}

.tile-container {
  display: grid;
  grid-gap: 0px;
}