/* .game-instructions {
  font-style: italic;
  font-size: 1.0em;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
} */

.tile-container {
  display: grid;
  grid-gap: 0px;
}

.tile {
  outline: 1px solid white;
  outline-offset: -1px;

  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.tile-wrapper {
  position: relative;
  margin: auto;
}

.selected {
  outline: 5px solid green;
  opacity: 0.5;
  outline-offset: -6px;
}

/* @media only screen and (max-width: 400px) {

} */